set timeout=5
set default=0

menuentry "Boot MtrxOS (x86_64)" {
    chainloader /EFI/BOOT/BOOTX64.EFI
}

menuentry "System Setup (UEFI BIOS)" {
    fwsetup
}

menuentry "Reboot" {
    reboot
}

menuentry "Power Off" {
    halt
}